/* Cart.css */
.container {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

.heading {
  margin-top: 2px;
  margin-bottom: 4px;
}

.table {
  margin-bottom: 0;
  border: 1px solid #dee2e6;
}

.table-header {
  background-color: #343a40;
  color: white;
}

.table-column {
  width: 94px;
  padding: 10px;
  text-align: center;
}

.total-row {
  font-weight: bold;
}

.button {
  background-color: #28a745;
  color: white;
  border: 1px solid #28a745;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #218838;
  border-color: #218838;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 50%;
  font-size: 14px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}
